<!DOCTYPE html>
<html>
<head>
    <form action="/node-mongodb-mongoose-user" method="POST">
        <input type="text" name="emailBody">
        <button type="submit">Enviar</button>
    </form>

    <h1> DADOS DE USER RECUPERADOS</h1>
    {{firstNameV}} <br>
    {{lastNameV}} <br>
    {{passwordV}} <br>
    {{emailV}} <br>
    {{messagesV}} <br>
</head>
</html>